h1
    {
        font-size: 60px;
        font-variant:unset;
        text-align: center;
        font-family: cursive;
        font-variant: small-caps;
    }

h2
    {
        font-size: 55px;
        font-family: cursive;
        text-align: center;
    }

h3
    {
        font-size: 48px;
        background-color: gold;
        text-align: center;
        font-variant: small-caps;
        color: purple;
        text-shadow:3px 3px white;
    }

h4
    {
        font-size: 40px;
        font-variant: small-caps;
    }
h5
    {
        font-size: 30PX;
        font-variant: small-caps;
    }
p
    {
        font-size: 20PX;
    }
li 
    {
        font-size: 20px;
    }
body
    {
        background-image: radial-gradient(navy,skyblue,blue,darkblue);
    }
ul:first-child
    {
        font-weight: bolder;
    }